
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="ios企业签名,超级签名,企业签名,TF签名,ios超级签,超级签,苹果超级签名,ios超级签名,iosTF签名,苹果APP签名,IPA签名">
    <meta name="description" content="淘签名支持ios企业签名，超级签名，企业签名，TF签名，ios超级签，超级签，苹果超级签名，ios超级签名，iosTF签名，苹果APP签名，IPA签名等，内测分发只需提供应用安装包，同设备多次应用下载，不掉签情况下，只收费一次，采用特有方式，大大提高用户下载安装速度，使您拥有更好的使用体验。">
    <title>苹果APP超级签名-企业签名-超级签-IPA-iosTP签名-淘签名</title>
    <link rel="icon" href="https://qmzjres.signdl.com/qmzj/aliassite1/favicon.ico">
    <link rel="stylesheet" href="https://qmzjres.signdl.com/qmzj/spread/3rd/jquery.my-message-master/css/jquery.my-message.1.1.css">
    <link href="https://qmzjres.signdl.com/qmzj/aliassite1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://qmzjres.signdl.com/qmzj/aliassite1/css/font-awesome.css" rel="stylesheet">
    <link href="https://qmzjres.signdl.com/qmzj/aliassite1/css/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="https://qmzjres.signdl.com/qmzj/aliassite1/css/animate.min.css" rel="stylesheet">
    <link href="https://qmzjres.signdl.com/qmzj/aliassite1/css/main.css?v=1.7" rel="stylesheet">
    <link href="https://qmzjres.signdl.com/qmzj/aliassite1/css/responsive.css" rel="stylesheet">
    <!-- Baidu JS -->
    <!-- <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c86651797aa85a5e877b21599916eb8b";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script> -->
</head>


<body style="">
<!-- Preloader Start -->
<!-- <div id="preloader">
    <div class="colorlib-load"></div>
</div> -->

<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <!-- <li><a href="/advantage">我们的优势</a></li> -->
                    <li><a href="E:\\git_project\\signature/advantage.html">我们的优势</a></li>
                    <li><a href="/package_prices">套餐价格</a></li>
                    <li><a href="/signature_process">使用流程</a></li>
                    <li><a href="/FAQ">常见问题</a></li>
                    <li><a href="https://wpa.qq.com/msgrd?v=3&amp;uin=2076778759&amp;site=qq&amp;menu=yes" target="_blank" rel="noopener noreferrer">代理招募</a></li>
                </ul>
                <!-- Signup btn -->
                <div class="login-area">
                    <div class="login">
                        <a href="https://www.signhome.net/login?o=2" class="menu_item" id="login">登录</a>
                        <a href="https://www.signhome.net/register?o=2" class="menu_item">注册</a>
                    </div>
                    <div class="user-menu d-none">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                            <img src="" class="avatar" alt="头像">
                            <span class="nickname"></span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="./web/build/index.html#/user">基本资料</a>
                            <a class="dropdown-item" href="./web/build/index.html#/super_sign">管理中心</a>
                            <a class="dropdown-item" href="javascript:;" id="logout">退出登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class=""></li>
            <li data-target="#main-slider" data-slide-to="1" class=""></li>
            <li data-target="#main-slider" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item" style="background-image: url(https://qmzjres.signdl.com/qmzj/aliassite1/images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">使用淘签名，即刻就分发！</h1>
                                <h2 class="animation animated-item-2">无需企业签名，无需越狱，无需上架App Store,下载后安装即用</h2>
                                <div class="btn-slide animation animated-item-3 buy-btn">立即使用</div>
                            </div>
                        </div>

                        <div class="col-sm-4 hidden-xs animation animated-item-2">
                            <div class="slider-img">
                                <img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/slider/img1.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(https://qmzjres.signdl.com/qmzj/aliassite1/images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">专业后台 使用方便</h1>
                                <h2 class="animation animated-item-2">可自行上传IPA，可自行获取下载链接/下载二维码</h2>
                                <h2 class="animation animated-item-2">消耗数据、安装日志均简单明了、清晰可查</h2>
                                <div class="btn-slide animation animated-item-3 buy-btn">立即使用</div>
                            </div>
                        </div>

                        <div class="col-sm-4 hidden-xs animation animated-item-2">
                            <div class="slider-img">
                                <img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/slider/img2.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item active" style="background-image: url(https://qmzjres.signdl.com/qmzj/aliassite1/images/slider/bg3.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">极速安装、稳定高并发下载</h1>
                                <h2 class="animation animated-item-2">采用特有方式，大大提高用户下载安装速度，使您拥有更好的使用体验</h2>
                                <h2 class="animation animated-item-2">我们已使用高性能的弹性签名集群，可支持大规模并发下的签名服务</h2>
                                <div class="btn-slide animation animated-item-3 buy-btn">立即使用</div>
                            </div>
                        </div>

                        <div class="col-sm-4 hidden-xs animation animated-item-2">
                            <div class="slider-img">
                                <img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/slider/img3.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->

<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>淘签名――苹果内测分发新选择</h2>
            <p class="lead">Amoy signature - Apple's new option for internal distribution</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-leaf"></i>
                        <h2>特有机制 减少掉签</h2>
                        <h3>超级签名因和企业签名机制不同，掉签概率极低</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-shield"></i>
                        <h2>支持防刷</h2>
                        <h3>支持下载码安装，有效防刷</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-cloud-download"></i>
                        <h2>无需越狱 安装即用</h2>
                        <h3>无需企业签名，无需越狱，无需上架App Store,下载后安装即用</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="ion-card"></i>
                        <h2>按照设备收费</h2>
                        <h3>按照设备收费，同一台设备重复下载不扣费</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-rocket"></i>
                        <!-- <ion-icon name="layers"></ion-icon> -->
                        <h2>24小时全自助服务</h2>
                        <h3>自行上传IPA后稍等数秒即可获得分发链接</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
                    <div class="feature-wrap">
                        <i class="fa fa-heart"></i>
                        <h2>精选账号</h2>
                        <h3>超级签名所用的开发者账号经过精挑细选，保证签名稳定</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->

<section id="advantage">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>我们的优势</h2>
            <p class="lead">Why choose us and what are our advantages</p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <div class="recent-work-inner top-line">
                        <h3>方便快捷</h3>
                        <p>内测分发只需提供应用安装包，同设备多次应用下载，不掉签情况下，只收费一次</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/advantage/item2.jpg" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <div class="recent-work-inner top-line">
                        <h3>极速安装体验</h3>
                        <p>采用特有方式，大大提高用户下载安装速度，使您拥有更好的使用体验</p>
                        <!-- <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> -->
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/advantage/item4.jpg" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/advantage/item5.jpg" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <div class="recent-work-inner bottom-line">
                        <h3>稳定高并发下载</h3>
                        <p>我们已使用高性能的弹性签名集群，可支持大规模并发下的签名服务</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/advantage/item8.jpg" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <div class="recent-work-inner bottom-line">
                        <h3>专业管理后台</h3>
                        <p>消耗数据、安装日志均在后台，清晰明了，随时可查</p>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#recent-works-->

<section id="pricing" class="wow fadeInUp section-bg animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>套餐价格</h2>
            <p class="lead">What packages we offer, and package prices</p>
        </div>

        <div class="row flex-items-xs-middle flex-items-xs-center">
            <!-- Basic Plan  -->
            <!-- <div class="col-xs-12 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h3><span class="currency">&yen;</span>19</h3>
                  <h4 class="card-title">
                    元/台
                  </h4>
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    <i class="fa fa-mobile" aria-hidden="true"></i>1&nbsp;台设备
                  </h4>
                  <a href="#" class="btn">立即购买</a>
                </div>
              </div>
            </div> -->

            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="currency">¥</span>19</h3>
                        <h4 class="card-title">
                            元/台
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>1 &nbsp;台设备
                        </h4>
                        <div class="buy-btn bottom-btn btn" data-type="1">立即购买</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="currency">¥</span>18.5</h3>
                        <h4 class="card-title">
                            元/台
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>10 &nbsp;台设备
                        </h4>
                        <div class="buy-btn bottom-btn btn" data-type="1">立即购买</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="currency">¥</span>18</h3>
                        <h4 class="card-title">
                            元/台
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>100 &nbsp;台设备
                        </h4>
                        <div class="buy-btn bottom-btn btn" data-type="1">立即购买</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="currency">¥</span>17</h3>
                        <h4 class="card-title">
                            元/台
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>500 &nbsp;台设备
                        </h4>
                        <div class="buy-btn bottom-btn btn" data-type="1">立即购买</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="currency">¥</span>16</h3>
                        <h4 class="card-title">
                            元/台
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>1000 &nbsp;台设备
                        </h4>
                        <div class="buy-btn bottom-btn btn" data-type="1">立即购买</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="currency">¥</span>15</h3>
                        <h4 class="card-title">
                            元/台
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>5000 &nbsp;台设备
                        </h4>
                        <div class="buy-btn bottom-btn btn" data-type="1">立即购买</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h3 style="font-size: 36px">量大专属定制</h3>
                        <h4 class="card-title">
                        </h4>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <i class="fa fa-mobile" aria-hidden="true"></i>更多设备
                        </h4>
                        <a class="btn" href="https://wpa.qq.com/msgrd?v=3&amp;uin=2076778759&amp;site=qq&amp;menu=yes" target="_blank" rel="noopener noreferrer">联系客服</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="process">
    <div class="container">
        <div class="center wow fadeInDown" style="visibility: hidden; animation-name: none;">
            <h2>使用流程</h2>
            <p class="lead">Process use operating instructions</p>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="left">
                    <div class="item1">
                        <div class="info">
                            <h3>注册登录</h3>
                            <p>本站首页填写注册信息或</p>
                            <p>登录帐号信息</p>
                        </div>
                        <div class="pin">
                            <img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_pin.png" alt="">
                            <img class="pin-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_icon1.png" alt="">
                        </div>
                    </div>
                    <div class="item1">
                        <div class="info">
                            <h3>购买套餐</h3>
                            <p>按需购买设备数</p>
                            <p>未使用不过期</p>
                        </div>
                        <div class="pin">
                            <img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_pin.png" alt="">
                            <img class="pin-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_icon2.png" alt="">
                        </div>
                    </div>
                </div>
            </div><!--/.col-sm-6-->
            <div class="col-sm-2 text-center process-line">
                <div class="vertical-line">
                </div>
                <div class="pin-line-box">
                    <div class="pin-circle">
                        <span></span>
                    </div>
                    <div class="pin-circle">
                        <span></span>
                    </div>
                    <div class="pin-circle">
                        <span></span>
                    </div>
                    <div class="pin-circle">
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="right">
                    <div class="item2">
                        <div class="pin">
                            <img class="pin-bg" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_pin.png" alt="">
                            <img class="pin-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_icon3.png" alt="">
                        </div>
                        <div class="info">
                            <h3>上传安装包</h3>
                            <p>通过后台自行上传IPA包</p>
                        </div>
                    </div>
                    <div class="item2">
                        <div class="pin">
                            <img class="pin-bg" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_pin.png" alt="">
                            <img class="pin-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/process_icon4.png" alt="">
                        </div>
                        <div class="info">
                            <h3>分发下载</h3>
                            <p>自行获取分发链接</p>
                            <p>无需越狱，无需信任</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#middle-->

<section id="faq">
    <div class="container">
        <div class="center wow fadeInDown" style="visibility: hidden; animation-name: none;">
            <h2>常见问题</h2>
            <p class="lead">Frequently encountered problems and solutions</p>
        </div>
        <ul id="faq-list" class="wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq1">我购买套餐里的设备数是什么概念？ <i class="ion-android-remove"></i></a>
                <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                        设备数是淘签名产品专有的计费单位，一个手机即一台设备，用户可根据自己使用情况购买。
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq2" class="collapsed">你们淘签名平台招募代理吗？ <i class="ion-android-remove"></i></a>
                <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                        我们是诚信企业、卓越功能、可靠服务，您可通过点击首页底部"招募代理"联系，或通过右侧客服模块联系我们。
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq3" class="collapsed">当遇到问题怎么联系你们？ <i class="ion-android-remove"></i></a>
                <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                        如果您遇到问题，可以通过右侧的客服模块联系我们，客服在线时间9:00-22:00。大客户可联系客服为您组建售后群。
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section><!-- #faq -->

<section id="partner">
    <a class="partner" href="https://wpa.qq.com/msgrd?v=3&amp;uin=2076778759&amp;site=qq&amp;menu=yes" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-qq" aria-hidden="true"></i>代理招募中，请咨询...
    </a>
</section><!--/#partner-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="https://qmzjres.signdl.com/qmzj/aliassite1/images/logo02.png" alt="">
            </div>
            <div class="col-sm-9 text-center">
                <p class="copyright-text">
                    <a href="http://beian.miit.gov.cn" target="_blank" rel="noopener noreferrer">浙ICP备19046575号-18</a>
                    <img class="record-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/recordIcon.png" alt="备案图标">
                    <span>浙公网安备 33010802011268号</span>
                </p>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!-- 侧边客服 -->
<div class="fixed">
    <div class="qrt-img" style="border: 1px solid #c52d2f">
        <img style="width: 100%" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/wx_qrcode.jpg">
    </div>
    <div class="item-service item-service2">
        <img class="wechat-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/wechatIcon.png" alt="">
        <span>微信客服</span>
    </div>
    <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=2076778759&amp;site=qq&amp;menu=yes" target="_blank" rel="noopener noreferrer">
        <div class="item-service item-service1">
            <img class="qq-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/qqIcon.png" alt="点击这里联系在线客服" title="点击这里联系在线客服">
            <span>QQ客服</span>
        </div>
    </a>
    <a href="#Features" id="backTop">
        <div class="item-service item-service3">
            <img class="backtop-icon" src="https://qmzjres.signdl.com/qmzj/aliassite1/images/backtopIcon.png" alt="">
            <span>回到顶部</span>
        </div>
    </a>
</div>
<!--百度自动推送--> <script src="https://zz.bdstatic.com/linksubmit/push.js"></script><script> (function(){     var bp = document.createElement('script');     var curProtocol  = window.location.protocol.split(':')[0];     if (curProtocol === 'https') {         bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';     }     else {         bp.src = 'http://push.zhanzhang.baidu.com/push.js';     }     var s = document.getElementsByTagName("script")[0];     s.parentNode.insertBefore(bp, s); })(); </script>
<div style="display:none">
    <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279997103&amp;web_id=1279997103"></script>
</div>

<script src="https://qmzjres.signdl.com/qmzj/aliassite1/js/jquery.js"></script>
<script src="https://qmzjres.signdl.com/qmzj/aliassite1/js/bootstrap.min.js"></script>
<script src="https://qmzjres.signdl.com/qmzj/aliassite1/js/jquery.prettyPhoto.js"></script>
<script src="https://qmzjres.signdl.com/qmzj/aliassite1/js/jquery.isotope.min.js"></script>
<script src="https://qmzjres.signdl.com/qmzj/aliassite1/js/main.js"></script>
<script src="https://qmzjres.signdl.com/qmzj/aliassite1/js/wow.min.js"></script>
<script type="text/javascript" src="https://qmzjres.signdl.com/qmzj/spread/3rd/jquery.my-message-master/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="https://qmzjres.signdl.com/qmzj/aliassite1/js/common.js?v=1.1"></script><div class="m-message" style="top:100px;right:10px;left:10px;width:calc(100%-10px10px);bottom:10px"></div>

<script>
    $("document").ready(function(){
        $(document).on("click",".buy-btn",function () {
            var type = $(this).data("type");
            goPay(type);
        })
        function goPay (type) {
            var $login = $('#login');
            var loginHref = $login.attr('href');
            if (loginHref == './login') {
                if(localStorage.sign_token){
                    window.location.href = "/web/build/index.html#/payment";
                }else{
                    window.location.href = "/login";
                }
            } else {
                window.location.href = loginHref;
            }
        }
    });
</script>

</body>